<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GYM JIM Home Page</title>
</head>
<body>
    <h1> Welcome at GymJIM</h1>
    {%if user.is_authenticated %}
        <p>Logged in as: {{ request.user.username}}</p>
        <a href="{% url 'logout'%}">Log out</a>
    <p><a href="{% url 'user_profile'%}"> User Profile</a></p>
    {% else %}
        <p>  Log in or create a new account</p>
        <p><a href="{% url 'login' %}"> Log in</a></p>
        <p><a href="{% url 'signup' %}"> Sign up </a></p>
    {% endif%}
    <p><a href="{% url 'newslist'%}"> News</a></p>
    <p><a href="{% url 'contact_view'%}">Contact</a></p>
    <p><a href="{% url 'schedule_view'%}">Schedule</a></p>
    <p><a href="{% url 'trainerslist'%}"> Our crew</a></p>
    <p><a href="{% url 'priceslist'%}"> Prices</a></p>
</body>
</html>