<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prices</title>
</head>
<body>
    <h1> Prices:</h1>
    <table>
        <thead>
            <tr>
                <th> Classes:</th>
                <th> Price:   </th>
            </tr>
        </thead>
        <tbody>
            {% for price in prices %}
            <tr>
                <td> {{price.name}}</td>
                <td>{{price.amount}}</td>
            </tr>
            {% endfor %}
            <p><a href="{% url 'home'%}">Home page</a></p>
            <p><a href="https://shorturl.at/ijxGH"> We honor Benefitsystems</a><p>
            <p><a href="https://shorturl.at/iqxL5"> We honor Medicover Benefits</a></p>
        </tbody>
    </table>
</body>
</html>