<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our crew:</title>
</head>
<body>
    <h1> Coaches:</h1>
    <ul>
        {% for trainer in trainers %}
        <li>
            <h2>{{ trainer.name }}</h2>
            <p>{{ trainer.bio }}</p>
            <h2> Classes with coaches:</h2>
            <ul>
                {% for exercise in trainer.classes.all %}
                <l1>{{ exercise.name }}</l1>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        <p> <a href="{% url 'home'%}">Home page</a></p>
    </ul>
</body>
</html>