<!DOCTYPE html>
<html>
<head>
    <title> USER PROFILE </title>
</head>
<body>
    <h1> Welcome to your profile</h1>
    <a href="{% url 'logout'%}">Logout</a>
    <h2> Enrolled Exercises </h2>
    {% for exercise in exercises %}
        <p>{{ exercise.name }}</p>
        <p>{{ exercise.description }}</p>
        <form method="POST" action="{% url 'user_profile' %}">
            {% csrf_token %}
            <input type="hidden" name="exercise_id" value="{{exercise.id}}">
            <button type="submit">Leave</button>
        </form>


    {% empty %}
        <p> No enrolled exercises available.</p>
    {% endfor %}

    <h2> Messages </h2>
    {% for message in messages %}
        <p>From: {{ message.sender }}</p>
        <p>{{ message.body}}</p>
    {% empty %}
        <p> No messages available.</p>
    {% endfor %}
    <h2> Back to home page:</h2>
    <a href="{% url 'home'%}">Home page</a>
</body>
</html>